#company_name {
  background-color: yellow;
  padding: 10px;
}

.link {
  text-decoration: none;
  color: blue;
}

.link:hover {
  color: red;
}

.home_list {
  list-style: none;
  padding-left: 15px;
}